<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <a href="/contact/add" class="btn btn-primary mb-2">New Contact</a>

      <% if (msg.length !=0) { %>
      <div class="alert alert-info" role="alert"><%= msg %></div>
      <% } %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Nomor Handphone</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((contact,i) => { i++%>
          <tr>
            <th scope="row"><%= i++ %></th>
            <td><%= contact.name %></td>
            <td><%= contact.number %></td>
            <td>
              <a
                href="/contact/<%= contact.name %>"
                class="btn badge text-bg-primary"
                >Detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
